*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
}
header{
    height: 65px;
    width: 100%;
    display: flex;
    align-items: center;
    background-image: linear-gradient(95deg,#672280, #A626D3);
    color: #fff;
    padding: 0 40px;
}
.header-imgTroll{
    width: 31px;
    margin-right: 10px;
}
.header-project{
    font-size:1.3rem;
    font-weight: 500;
}
.header-title{
    margin-right: auto;
}