/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap'); */

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: #fff;
  background-color: #282d35;
}
.navbar {
  padding: 0 30px;
  background-color: #21222a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
.brand {
  display: flex;
}
.nav-logo {
  width: 35px;
}
.nav-name-brand {
  font-size: 1.5rem;
  margin-left: 10px;
  color: #61dafb;
  font-weight: 700;
}
.nav-title {
  font-size: 1.1rem;
  font-weight: 600;
  color: #deebf8;
}

/* Main section */
.main-content {
  /* background-color: #282d35; */
  /* height: 100vh; */
  color: #ffff;
  padding: 52px 30px;
}
.main-content-title {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.05em;
}
.item {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.5;
}
li::marker{
  color: #61DAFB;
  font-size: 1.5rem;
}

